<div class="px-4">
  <app-header></app-header>
  
  <main class="mt-16 mb-14">
    <div class="flex gap-10">
      <div class=" bg-[#F0F0F0] p-5">
        <div>
          <img src="assets/tenis/foto1.png" alt="imagem tenis">
        </div>
        <div class="flex items-center justify-between mt-3">
          <img src="assets/tenis/foto2.png" alt="imagem tenis">
          <img src="assets/tenis/foto3.png" alt="imagem tenis">
          <img src="assets/tenis/foto4.png" alt="imagem tenis">
        </div>
      </div>
  
      <div> 
        <h1 class="font-bold text-3xl">Nike Air Max 108</h1>
        <div class="flex  gap-4 mt-3">
          <div class="flex items-center gap-1">
            <img src="assets/star.svg" alt="stars">
            <img src="assets/star.svg" alt="stars">
            <img src="assets/star.svg" alt="stars">
            <img src="assets/star.svg" alt="stars">
            <img src="assets/star.svg" alt="stars">
          </div>
          <div class="mt-2">
            2.3k  avaliações.
          </div>
        </div>
        <p class="max-w-[530px]">
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id eserunt eserunt eserunt eserunt eserunt 
        </p>

        <h2 class="text-xl font-bold mt-5">Tamanhos</h2>

        <div class="flex items-center gap-3 mt-3" >
          <div  class="rounded-full size-10 border border-black flex items-center justify-center">35</div>
          <div  class="rounded-full size-10 border border-black flex items-center justify-center bg-black text-white">36</div>
          <div  class="rounded-full size-10 border border-black flex items-center justify-center">37</div>
          <div  class="rounded-full size-10 border border-black flex items-center justify-center">38</div>
          <div  class="rounded-full size-10 border border-black flex items-center justify-center">39</div>
        </div>
        <h2 class="text-xl font-bold mt-8">Quantidade</h2>

        <div class="flex items-center gap-3 font-bold text-lg mt-5">
          <button  class="rounded-full size-10  flex items-center justify-center bg-[#F2F2F2]">-</button>
            2
          <button  class="rounded-full size-10 border  flex items-center justify-center bg-black text-white">+</button>
        </div>

        <div class="flex gap-3">
          <div class="text-lg line-through">R$390,90</div>
          <div class="mt-3 text-xs bg-[#00F30A] rounded-md px-2 py-1">20% de desconto</div>
        </div>

        <div class="font-bold text-4xl mt-3">
          R$ 199,99
        </div>

        <div class="flex items-center gap-5 mt-4">
          <button class="bg-black text-white rounded-lg px-9 py-4 text-xl font-bold">Comprar agora</button>
          <button class="rounded-lg px-9 py-[15px] border border-black text-xl ">Adicionar no carrinho</button>
        </div>

      </div>

    </div>

    <section class="mt-16">
      <h2 class="text-2xl font-bold">Descrição completa</h2>
      <p class="mt-4">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id eserunt eserunt eserunt eserunt eserunt Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id eserunt eserunt eserunt eserunt eserunt Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id eserunt eserunt eserunt eserunt eserunt Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id eserunt eserunt eserunt eserunt eserunt </p>
     <div class="text-center mt-2">
       <button class="bg-black text-white rounded-xl px-9 py-2 text-xl font-bold">Veja toda  descrição</button>
     </div>
    </section>

    <section>
      <h2 class="font-bold text-2xl">Você também pode gostar</h2>
      <div class="mt-4">

      </div>
    </section>

    <section>
      <div class="flex items-center gap-7">
        <h2 class="text-2xl">Avaliacoes</h2> 
        <div class="flex items-center gap-1">
          <img src="assets/star.svg" alt="stars">
          <img src="assets/star.svg" alt="stars">
          <img src="assets/star.svg" alt="stars">
          <img src="assets/star.svg" alt="stars">
          <img src="assets/star.svg" alt="stars">
        </div>
        <div class="mt-2">
          2.3k  avaliações.
        </div>
      </div>

      <div class="flex items-center gap-3 mt-9">
        <div class="max-w-[400px] bg-[#F2F2F2] p-2 rounded-lg">
          <div  class="flex items-center gap-4">
            <div class="font-medium">Daniel Levi</div>
            <img src="assets/star.svg" alt="stars" class="size-4">
            <span>4.3</span>
          </div>
          <p class="mt-3">
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id 
            eserunt eserunt es
          </p>
        </div>
        <div class="max-w-[400px] bg-[#F2F2F2] p-2 rounded-lg">
          <div  class="flex items-center gap-4">
            <div class="font-medium">Daniel Levi</div>
            <img src="assets/star.svg" alt="stars" class="size-4">
            <span>4.3</span>
          </div>
          <p class="mt-3">
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id 
            eserunt eserunt es
          </p>
        </div>
        <div class="max-w-[400px] bg-[#F2F2F2] p-2 rounded-lg">
          <div  class="flex items-center gap-4">
            <div class="font-medium">Daniel Levi</div>
            <img src="assets/star.svg" alt="stars" class="size-4">
            <span>4.3</span>
          </div>
          <p class="mt-3">
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id 
            eserunt eserunt es
          </p>
        </div>
        <div class="max-w-[400px] bg-[#F2F2F2] p-2 rounded-lg">
          <div  class="flex items-center gap-4">
            <div class="font-medium">Daniel Levi</div>
            <img src="assets/star.svg" alt="stars" class="size-4">
            <span>4.3</span>
          </div>
          <p class="mt-3">
            Excepteur sint occaecat cupidatat non proident,
            sunt in culpa qui officia deserunt mollit anim id 
            eserunt eserunt es
          </p>
        </div>
      </div>
    </section>
  </main>
  <app-footer ></app-footer>
</div>