<div class="px-4">
  <app-header></app-header>
  
  <main class="mt-16">
    <div class="flex gap-10">
      <div class=" bg-[#F0F0F0] p-5">
        <div>
          <img src="assets/tenis/foto1.png" alt="imagem tenis">
        </div>
        <div class="flex items-center justify-between mt-3">
          <img src="assets/tenis/foto2.png" alt="imagem tenis">
          <img src="assets/tenis/foto3.png" alt="imagem tenis">
          <img src="assets/tenis/foto4.png" alt="imagem tenis">
        </div>
      </div>
  
      <div> 
        <h1 class="font-bold text-3xl">Nike Air Max 108</h1>
        <div class="flex  gap-4">
          <div class="flex items-center gap-1">
            <img src="assets/star.svg" alt="stars">
            <img src="assets/star.svg" alt="stars">
            <img src="assets/star.svg" alt="stars">
            <img src="assets/star.svg" alt="stars">
            <img src="assets/star.svg" alt="stars">
          </div>
          <div class="mt-2">
            2.3k  avaliações.
          </div>
          <p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id eserunt eserunt eserunt eserunt eserunt 
          </p>

          <h2>Tamanhos</h2>

          <div>
            <div  class="rounded-full size-10">35</div>
          </div>

        </div>
      </div>

    </div>

  </main>

</div>