<header >
    <div class="flex items-center gap-14 py-3">
        <div class="py-4 px-8 bg-black font-bold text-3xl text-white">Ui Shop</div>
    
        <nav class="flex justify-between flex-1">
            <ul class="flex items-center gap-6">
                <a href=""><li>Categorias</li></a>
                <a href=""><li>Colecoes</li></a>
                <a href=""><li>Produtos</li></a>
                <a href=""><li>Contatos</li></a>
            </ul>
            <ul class="flex items-center gap-6">
                <a href=""><li>Procura</li></a>
                <a href=""><li>Carrinho</li></a>
                <a href=""><li>Conta</li></a>
                
            </ul>
        </nav>
    </div>


</header>