<section class="mt-8 flex gap-8" >
    <div class="w-full rounded-lg" style="background-image: url('assets/promotions.png');">
        <div class="mt-16 pl-8">
            <div class="font-bold text-3xl text-white">Ate 50% de cesconto</div>
            <div class="text-white/90">Na primeira compra</div>
        </div>
    </div>
    <div class="space-y-8 ">
        <div class="font-bold text-4xl">Encontre camisetas que combinam com você </div>
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
            accusantium accusantiumperspiciatis perspiciatis omnis
             doloremque laudantium, to
        </p> 

        <button class="bg-black px-5 py-3 rounded-3xl mt-8 text-white">Ver todos os produtos</button>

    </div>

</section>
